.header_wrapper {
    height: var(--header-height);
    margin: 0 1.5rem;
    position: sticky;
    z-index: 1000;
}

.header {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_popup_container {
    position: absolute;
    width: calc((100% - 3rem) / 3);
    height: fit-content;
    right: 0;
    top: var(--header-height);
}

.header > *:not(.not_a_child) {
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    padding: 0.75rem;
    justify-content: start;
}

.header__logo > * {
    height: 100%;
    width: auto;
}

.header__navigation {
    gap: 1rem;
    font-weight: 500;
}

.header__user {
}
